.destination {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
  }
  &-more {
    color: $primary-color;
    display: flex;
    align-items: center;
    gap: 0 5px;
  }
}
