.guides {
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 80px;
  }
  &-content {
    max-width: 450px;
    padding-left: 49px;
  }
  &-image {
    transform: translateX(-41px);
  }
  &-heading {
    margin-bottom: 20px;
  }
  &-desc {
    margin-bottom: 33px;
  }
}
