.guides {
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-content {
    max-width: 530px;
    padding-left: 49px;
  }
  &-heading {
    margin-bottom: 20px;
  }
  &-desc {
    margin-bottom: 33px;
  }
}
