.guides {
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 80px;
  }
  &-content {
    max-width: 450px;
    width: 100%;
    padding: 50px;
  }
  &-image {
    padding-right: 40px;
  }
  &-heading {
    margin-bottom: 20px;
  }
  &-desc {
    margin-bottom: 33px;
  }
}
