.hero {
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-heading {
    font-size: 64px;
    line-height: 125%;
    margin-bottom: 74px;
  }
  &-caption {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 48px;
    padding-bottom: 20px;
    display: inline-block;
    position: relative;
  }
}
