.testimonial {
  margin-bottom: 270px;
  &-heading {
    margin-bottom: 60px;
  }
  &-main {
    max-width: 1085px;
    position: relative;
  }
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 25px;
  }
  &-content {
    max-width: 450px;
  }
  &-rating {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
    color: #ffbb0c;
  }
  &-desc {
    color: #000;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 400;
  }
  &-name {
    font-size: 22px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
  }
  &-job {
    font-size: 18px;
    color: #000;
  }
  @media screen and (min-width: 1024px) {
    &-main {
      padding-left: 50px;
    }
  }

  @media screen and (max-width: 1023px) {
    margin-bottom: 75px;
  }
  @media screen and (max-width: 767px) {
    &-container {
      flex-direction: column;
      gap: 50px 0;
    }
    &-heading {
      margin-bottom: 30px;
    }
    &-desc {
      font-size: 18px;
      margin-bottom: 20px;
    }
    &-name {
      font-size: 20px;
      margin-bottom: 10px;
    }
    &-job {
      font-size: 16px;
    }
    &-image {
      height: 400px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
      }
    }
  }
}
