.testimonial {
  margin-bottom: 270px;
  &-heading {
    margin-bottom: 60px;
  }
  &-main {
    max-width: 1085px;
    padding-left: 50px;
    position: relative;
  }
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-content {
    max-width: 450px;
  }
  &-rating {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
    color: #ffbb0c;
  }
  &-desc {
    color: #000;
  }
}
