$primary-font: "Inter", sans-serif;
$secondary-font: "Playfair Display", serif;
$third-font: "Mulish", sans-serif;
$gray: #b8becd;
$gray-dark: #4a4c53;
$gray-darkest: #202336;
$primary-color: #fb8f1d;
